amply==0.1.4
appdirs==1.4.4
attrs==21.2.0
beautifulsoup4==4.10.0
bert-score==0.3.9
certifi==2020.12.5
cffi==1.15.0
chardet==4.0.0
click==7.1.2
colorama==0.4.4
ConfigArgParse==1.4.1
connection-pool==0.0.3
cycler==0.10.0
Cython==0.29.24
datasets==1.5.0
datrie==0.8.2
dill==0.3.3
docopt==0.6.2
docutils==0.17.1
-e git+https://github.com/GT-SALT/Multi-View-Seq2Seq.git@fe4d4d4c8dd25b5784d2bfea8fabbf494fb453f2#egg=fairseq&subdirectory=fairseq_multi_view
filelock==3.0.12
fsspec==0.9.0
ftfy==6.0.3
gdown==4.1.1
gitdb==4.0.7
GitPython==3.1.17
huggingface-hub==0.0.8
idna==2.10
importlib-metadata==3.10.1
ipython-genutils==0.2.0
joblib==1.0.1
jsonschema==3.2.0
jupyter-core==4.7.1
kiwisolver==1.3.1
langcodes==3.1.0
marisa-trie==0.7.5
matplotlib==3.4.1
msgpack==1.0.2
msgpack-python==0.5.6
multiprocess==0.70.11.1
nbformat==5.1.3
nltk==3.6.2
numpy==1.20.2
oauthlib==3.1.1
ordered-set==4.0.2
packaging==20.9
pandas==1.2.4
Pillow==8.2.0
pipreqs==0.4.11
portalocker==2.3.2
psutil==5.8.0
psycopg2-binary==2.8.6
PuLP==2.4
pyarrow==3.0.0
pycparser==2.20
pynvml==11.0.0
pyparsing==2.4.7
pyrsistent==0.17.3
PySocks==1.7.1
python-dateutil==2.8.1
pytz==2021.1
PyYAML==5.4.1
ratelimiter==1.2.0.post0
regex==2021.4.4
requests==2.25.1
requests-oauthlib==1.3.0
rouge==1.0.0
sacrebleu==2.0.0
sacremoses==0.0.44
scikit-learn==0.24.2
scipy==1.6.3
six==1.15.0
sklearn==0.0
smart-open==5.1.0
smmap==4.0.0
snakemake==6.4.1
soupsieve==2.2.1
stopit==1.1.2
tabulate==0.8.9
threadpoolctl==2.1.0
tokenizers==0.10.2
toposort==1.6
torch==1.8.1
tqdm==4.49.0
traitlets==5.0.5
transformers==4.5.1
tweepy==4.2.0
typing-extensions==3.7.4.3
urllib3==1.26.4
wcwidth==0.2.5
wordfreq==2.5.0
wrapt==1.12.1
xmltodict==0.11.0
xxhash==2.0.2
yarg==0.1.9
zipp==3.4.1
